[Unit]
Description=DashPi WiFi Watchdog
After=network.target

[Service]
ExecStart=/usr/local/dakpi/scripts/wifi-check.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target