[Unit]
Description=DashPi Kiosk
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=dashpi
Environment=DISPLAY=:0
ExecStart=/home/dashpi/pp6-dashpi/scripts/kiosk.sh
Restart=always

[Install]
WantedBy=graphical.target
