[Unit]
Description=DashPi Chromium Kiosk
After=graphical.target

[Service]
Type=simple
ExecStart=/home/dashpi/pp6-dashpi/scripts/kiosk.sh
Restart=always
User=dashpi
Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target